@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    background-color: #2C3333;
    font-family: 'Young Serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
*{
    font-family: 'Young Serif','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2C3639;
    height: 10%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.select-mode{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;
    height: 40vh;
    background-color:#2C3639;
}
button{
    height: 200px;
    width: 200px;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 30%);
    cursor: pointer;
}
button:hover{
    background-color: rgba(38, 38, 38, 1);
    color: white;
}
button:active{
    border: 1px solid skyblue;
    transform: scale(0.8);
}
.playervsplayermode{
    display: none;
    height: 90%;
    justify-content: center;
    grid-template-columns: 500px auto;
    grid-template-rows: auto auto;
    grid-template-areas:
            "menu text"
            "menu board";
}
.currentPlayerTurn{
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 4px solid #2C3639;
}
.playerBoard {
    display: grid;
    grid-area: board;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 200px);
    border: 4px solid #2C3639;
    height: max-content;
}

.playerBoard div {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boardBox:nth-child(1){
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.boardBox:nth-child(3){
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.boardBox:nth-child(7){
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.boardBox:nth-child(9){
    border-left: 1px solid black;
    border-top: 1px solid black;
}
.boardBox:nth-child(5){
    border: 1px solid black;
}
.boardBox svg{
    min-height: 100px;
    min-width: 100px;
}
.beforeyoustartgame{
    display: none;
    width: 100%;
    height: 100%;
}
.beforeHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20%;
    width: 100%;
}
.beforeForm{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.beforeFormText{
    display: flex;
    justify-content: center;
}
.nickname-box{
    display: flex;
    align-items: center;
    flex-direction: column;
}
input{
    max-width: max-content;
    background-color: #2C3333;
    border: 1px solid teal;
}
input:focus{
    outline: none;
    border: 1px solid aqua;
}
.select-side{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.wrap-icons-container{
    display: flex;
}
.svg-icon{
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.startGame{
    width: 40%;
    height: 100px;
}
.submit-button{
    display: flex;
    justify-content: end;
    height: max-content;
    padding: 5px;
}
.playerMenu{
    display: flex;
    grid-area: menu;
    place-items: center;
    flex-direction: column;
}
.modal-congratulations{
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #2C3639;
    top: 0;
    left: 0;
    z-index: 1;
    color: aliceblue;
    border-radius: 5px;
}
.modal-header{
    display: flex;
    justify-content: center;
    height: 40%;
    width: 100%;
    padding: 30px;
}
.modal-body{
    display: flex;
    justify-content: center;
    height: 10%;
    width: 100%;
    line-height: 1.5;
    letter-spacing: 2px;
}
.modal-body-text{
    max-width: 50ch;
}
.modal-footer{
    display: flex;
    justify-content: space-between;
    height: 50%;
    width: 100%;
    padding: 20px;
}
.modal-footer button{
    width: 300px;
    margin: 5px;
    color: oldlace;
}
.modal-container{
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    backdrop-filter: blur(3px);
    background-color: rgb(0,0,0,0.4);
}
#menuResetBoard{
    width: 300px;
    height: auto;
}
.AiBeforeYouStartGame{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.aiBeforeText{
    height: 20%;
    padding-top: 15px;
}
.aiBeforeBody{
    height: 50%;
}
.aiBeforeFooter{
    height: 30%;
}
.aiBeforeFooter button{
    height: 70%;
}
.bot-advance-level{
    display: flex;
    justify-content: center;
}
.aiMarkerSet{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
}
.aiInputMarker input[type="radio"] {
    display: none;
  }
  .aiInputMarker label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
  }
  .aiInputMarker label::before {
    content: "";
    display: flex;
    width: 20px;
    height: 20px;
    border: 2px solid #000;
    position: absolute;
    left: 0;
    top: 2px;
    transition: background-color 0.2s;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .aiInputMarker input[type="radio"]:checked + label::before {
    background-color: #000;

  }
  .aiInputMarker input[type="radio"]:focus + label::before {
    border-color: transparent;
  }
  .aiInputMarker input[type="radio"][value="aiCross"]:checked + label::before {
    background-color: #2C3333;
    content: "X";
  }
  .aiInputMarker input[type="radio"][value="aiCircle"]:checked + label::before {
    background-color: #2C3333;
    content: "O";
  }

  .playervsaimode{
    display: grid;
    width: 80%;
    grid-template-areas: 
                    "menu currentTurn"
                    "menu board";
  }
  .playerAiMenu{
    display: flex;
    justify-content: end;
    align-items: end;
    grid-area: menu;
  }
  #AiResetBoard{
    width: 200px;
    height: 100px;
  }
  .currentAiPlayerTurn{
    grid-area: currentTurn;
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .playerAiBoard{
    display: grid;
    place-content: center;
    grid-area: board;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,200px)
  }
  .playerAiBoard > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
.playerAiBoard >div:nth-child(5){
    border: 1px solid black;
}
.playerAiBoard >div:nth-child(7){
    border-top: 1px solid black;
    border-right: 1px solid black;
}
.playerAiBoard >div:nth-child(9){
    border-top: 1px solid black;
    border-left: 1px solid black;
}
.playerAiBoard >div:nth-child(3){
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
.playerAiBoard >div:nth-child(1){
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}